replicaCount: 1

application:
  name: app-visitor
  repoUrl: "vyan/visitor-management.git"
  repoBranch: master

service:
  type: ClusterIP
  port: 80
  containerPort: 80

resources:
  limits:
    cpu: 300m
    memory: 500Mi
  requests:
    cpu: 300m
    memory: 500Mi

livenessProbe:
  periodSeconds: 30
  failureThreshold: 10

readinessProbe:
  path: dc-auth/login
  periodSeconds: 30
  failureThreshold: 10
