replicaCount: 1

application:
  name: app-visitor
  repoUrl: "vyan/visitor-management.git"
  repoBranch: production

service:
  type: ClusterIP
  port: 80
  containerPort: 80

resources:
  limits:
    cpu: 3000m
    memory: 4000Mi
  requests:
    cpu: 3000m
    memory: 400Mi

livenessProbe:
  periodSeconds: 30
  failureThreshold: 10

readinessProbe:
  path: dc-auth/login
  periodSeconds: 30
  failureThreshold: 10
